<h1><%= @board.name %></h1>

<%= turbo_frame_tag "potential_bugs", src: board_path(@board.id, since: @since, frame: "potential_bugs") %>

<%= turbo_frame_tag "high_severity_bugs", src: board_path(@board.id, since: @since, frame: "high_severity_bugs") %>

<%= turbo_frame_tag "bugs_without_severity", src: board_path(@board.id, since: @since, frame: "bugs_without_severity") %>
